app-hero {
  position: relative;
  display: block;

  .images {
    background-color: black;

    img, picture {
      height: 400px;
      width: 100%;
      object-fit: cover;
      display: none;
      animation: fade 8s;

      &.active, &.active img {
        display: block;
      }
    }
  }

  .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    max-width: 90vw;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f2ee;
    border: 1px solid #ebebeb;
    text-align: center;

    h2 {
      font-size: 24px;

      @media (min-width: 576px) {
        font-size: 36px;
      }
    }
  }

  @keyframes fade {
    from, to {
      opacity: 0;
    }
    10%, 90% {
      opacity: 1;
    }
  }
}