@font-face {
  font-family: 'Post Grotesk';
  src: url("../public/fonts/PostGrotesk-Book-subset.woff");
  font-weight: 400;
}

@font-face {
  font-family: 'Post Grotesk';
  src: url("../public/fonts/PostGrotesk-Medium-subset.woff");
  font-weight: 500;
}

@font-face {
  font-family: 'Post Grotesk';
  src: url("../public/fonts/PostGrotesk-Bold-subset.woff");
  font-weight: 700;
}

@font-face {
  font-family: 'Sharp Sans';
  src: url("../public/fonts/SharpSansDispNo2-Bold.ttf");
  font-weight: 700;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 3px solid black;
  outline-offset: -3px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Post Grotesk', sans-serif;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

ol, ul {
  list-style: none;
}

a, button {
  text-decoration: none;
  color: inherit;
  min-width: 44px !important;
  min-height: 44px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sharp Sans', serif;
}